.footer-container {
  background: #1d1d1d;
  position: relative;
  z-index: 8;
  padding-bottom: 150px;
  color: #fff;
  // border-radius: 34% 24% 1% 0% / 7% 7% 25% 25%;
  margin-top: -180px;
  .footer-links {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
  }
  ul li {
    line-height: 35px;
    text-align: center;
  }
  h4 {
    margin-top: 50px;
    text-align: center;
  }
  .logo-div {
  }
}
