.logo {
  // height: 70px;
  // width: 180px !important;
  margin-left: 70px;
  width: 4rem;
  height: auto;
  // max-width: 120% !important;
  transition: all ease-in-out 0.2s;
}
.main-nav {
  height: 10px !important;
  padding: 10px 0 ul li {
    margin-top: -90px;
  }
}
ul li {
  text-decoration: none !important;
}
