.bent-logo {
  // height: 70px;
  // width: 180px !important;
  margin-left: 70px;
  // margin-top: -90px;
}
.main-nav {
  height: 10px !important;
  padding: 10px 0 ul li {
    margin-top: -90px;
  }
}
a {
  text-decoration: none !important;
}
